@import url(https://fonts.googleapis.com/css?family=Play);

h1 {
  font-family: 'Play', sans-serif;
  text-align: center;
}
h3 {
  font-family: 'Play', sans-serif;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 5%;
}
p {
  font-family: 'Play', sans-serif;
}
.command-list p:first-child {
  font-weight: bold;
  font-size: 1.5em;
}
a {
  font-family: 'Play', sans-serif;
  font-size: 1.2em;
}
.logo {
  color: white;
  font-size: 1.8em;
}
li {
  list-style-type: none;
}

.logo {
  text-align: center;
}
/*MODIFICATION DU FOOTER */
.footer {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  height: 100px;
  border-top: 1px solid grey;
}
/*CENTRAGE DU COPYRIGHT AU MILIEU DU FOOTER*/
footer p {
  padding-top: 40px;

}
/*BOUTON MENU FIXER AU TOP DE LA PAGE */
.btn-default {
position: fixed;
z-index: 100;
}
